.body{
  background-color: #a7d9b5; margin: 20px,20px,0px,20px;font-family: cursive; text-decoration-color:
}

.header-alignment{
  text-align: left;
}
.header-background{
  background-image: url(https://i.ebayimg.com/images/g/9D4AAMXQrNtRzbiY/s-l300.jpg);font-size: 30px;margin-bottom: 0px;
}

.Dwights-picture{
  border-left-style: solid;
border-left-width: 10px;
border-top-width: 10px;
border-top-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
}

.menu-width{
  width: 130px;
}

.list-padding{
  padding-left: 10px;
}

.intro-position{
  position: absolute;left: 30px;top: 30px;
  width: 600px;
  margin-left: 350px;
  padding-top: 0px;
  margin-bottom: 100px;
  margin-top: 200px;
}
.title-font{
  font-size: 30px;
}

.Education-section{
  width: 550px
}
